* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  margin: 2rem;
}
input {
  height: 35px;
  font-size: 18px;
  width: 100%;
  margin-bottom: 35px;
}
button {
  padding: 16px;
  cursor: pointer;
}
h4 {
  margin-bottom: 16px;
}
